*.pem                
oci_api_key* 



*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
*.tfvars
.terraformrc
terraform.rc
.terraform.lock.hcl
*.tfvars
*.tfvars.json
terraform.log

crash.log

*.json

*privatekey*
wg-private*
*.key

.env
*.pem

